.artistes {
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
}
.artistes-new {
  justify-content: center;
  align-items: center;
  align-content: center;
}
